openapi: 3.2.0
info:
  title: Commercial Listings Property API
  description: '## Overview


    The Commercial Listings API allows you to upload, update, retrieve, and remove Commercial property listings for display on the Rightmove website.'
  version: 1.0.0
  termsOfService: https://api-docs.rightmove.co.uk/terms
  contact:
    email: adfsupport@rightmove.co.uk
    name: Rightmove Data Feed Team
  license:
    name: Please refer to the End User License Agreement
    url: https://api-docs.rightmove.co.uk/terms
servers:
- url: https://api-services.adftest.rightmove.com
  description: Staging
- url: https://api-services.rightmove.co.uk
  description: Production
tags:
- name: Property
  description: Create, Updated, Remove and Retrieve properties
paths:
  /v2/property/commercial/{reference}:
    get:
      tags:
      - Property
      security:
      - OAuth2: []
      summary: Gets a Commercial Property (UK Only)
      operationId: getCommercialPropertyDetails
      parameters:
      - name: reference
        in: path
        description: The reference identifier of the property to retrieve.
        required: true
        schema:
          type: string
      - name: Rightmove-Agent-ID
        in: header
        description: The Agent ID associated with the property.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '503':
          description: This response will be presented when an unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '200':
          description: Property is found and the response object will include all the property details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyAction'
        '502':
          description: This response will be presented when an unexpected error has occurred, this is most likely to do with a client error. The user will be prompted to try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '400':
          description: This response will be presented when a validation error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          description: This response will be presented when the attempt to call is unauthorised.
          content:
            application/json: {}
        '403':
          description: This response will be presented when the attempt to call is forbidden.
          content:
            application/json: {}
        '429':
          description: This response will be presented when your quota has been exceeded. The quota resets every 60 seconds and the value varies per environment
          content:
            application/json: {}
    put:
      security:
      - OAuth2: []
      tags:
      - Property
      summary: Sends Commercial Properties (UK Only)
      description: Upload or update commercial properties
      operationId: sendCommercialPropertyDetails
      parameters:
      - name: reference
        in: path
        description: The reference of the property. This must be the same provided at space level, when the property defines a building with no spaces.
        required: true
        example: Property_Reference_123
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CommercialPropertyWithSpaces'
              - $ref: '#/components/schemas/CommercialPropertyBuildingOnly'
        required: true
      responses:
        '200':
          description: Successfully updated a property and the response contains metadata about the update action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertySaveAction'
        '201':
          description: Successfully created a property and the response contains metadata about the create action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertySaveAction'
        '503':
          description: This response will be presented when an unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '400':
          description: This response will be presented when a validation error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '502':
          description: This response will be presented when an unexpected error has occurred, this is most likely to do with a client error. The user will be prompted to try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          description: This response will be presented when the attempt to call is unauthorised.
          content:
            application/json: {}
        '403':
          description: This response will be presented when the attempt to call is forbidden.
          content:
            application/json: {}
        '429':
          description: This response will be presented when your quota has been exceeded. The quota resets every 60 seconds and the value varies per environment
          content:
            application/json: {}
    delete:
      security:
      - OAuth2: []
      tags:
      - Property
      summary: Removes Commercial Properties (UK Only)
      description: Remove commercial properties
      operationId: removeCommercialPropertyDetails
      parameters:
      - name: reference
        in: path
        description: The reference of the property. This must be the same provided at space level, when a property defines a building with no spaces.
        example: Property_Reference_123
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCommercialProperty'
        required: true
      responses:
        '200':
          description: Successfully removed the property and associated listings.
        '401':
          description: This response will be presented when the attempt to call is unauthorised.
          content:
            application/json: {}
        '403':
          description: This response will be presented when the attempt to call is forbidden.
          content:
            application/json: {}
        '404':
          description: This response will be presented when the property is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '502':
          description: This response will be presented when an unexpected error has occurred, please try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '503':
          description: This response will be presented when an unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '429':
          description: This response will be presented when your quota has been exceeded. The quota resets every 60 seconds and the value varies per environment
          content:
            application/json: {}
  /v2/property/commercial/branch:
    get:
      security:
      - OAuth2:
        - client Grants read and write access
      summary: Gets list of commercial properties (UK Only) by branch
      operationId: getCommercialPropertiesByBranch
      parameters:
      - name: id
        in: query
        description: The ID of the branch
        required: true
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: The page number to return
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        description: The size of results to be returned in a page
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '503':
          description: This response will be presented when an unexpected internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '200':
          description: Properties are found for the branch and the response object will include all the property details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyAction'
        '502':
          description: This response will be presented when an unexpected error has occurred, this is most likely to do with a client error. The user will be prompted to try again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          description: This response will be presented when the attempt to call is unauthorised.
          content:
            application/json: {}
        '403':
          description: This response will be presented when the attempt to call is forbidden.
          content:
            application/json: {}
        '429':
          description: This response will be presented when your quota has been exceeded. The quota resets every 60 seconds and the value varies per environment
          content:
            application/json: {}
      tags:
      - Property
components:
  schemas:
    Owner:
      type: object
      properties:
        name:
          type: string
          description: The company or business that owns the building.
          maxLength: 200
        description:
          type: string
          description: The description of who the owner is.
          example: A private commercial real estate investment firm based in London, United Kingdom.
          maxLength: 5000
      description: Details about the building's owner.
    Condition:
      type: string
      description: The condition the space is in.
      enum:
      - FULL_FIT_OUT
      - PARTIAL_FIT_OUT
      - SHELL_SPACE
      example: FULL_FIT_OUT
    BuildingSizing:
      type: object
      properties:
        size:
          type: number
          description: Total size of the building. When a property defines a building, this is required only if unit is provided and both minSize and maxSize are missing.
          format: float
          example: 5941
        minSize:
          type: number
          description: Minimum size of the building. When a property defines a building, this is required only if unit and maxsize are provided.
          format: float
          example: 100
        maxSize:
          type: number
          description: Maximum size of the building. When a property defines a building, this is required only if unit and minSize are provided.
          format: float
          example: 200
        unit:
          description: The advertised unit's size unit. When a property defines a building, this is required only if size is provided, or both minSize and maxSize are provided.
          $ref: '#/components/schemas/AreaSizeUnit'
        measurementType:
          type: string
          description: The type of measurement for the size of the unit.
          example: GIA
          enum:
          - GEA
          - GIA
          - NIA
          - IPMS1
          - IPMS2
          - IPMS3_1
          - IPMS3_2
      description: Sizing details of the building. This object is optional. If provided, `unit` must be supplied alongside either `size`, or both `minSize` and `maxSize`. `minSize` and `maxSize` must either both be present or both be absent, and `minSize` must be less than `maxSize`.
    PropertyData:
      type: object
      properties:
        property:
          $ref: '#/components/schemas/PropertyReference'
      description: Specific data related to the requested resource, such as property information or additional resource-specific details.
    AreaSizeUnit:
      type: string
      description: The advertised unit's size unit.
      example: SQFT
      enum:
      - SQFT
      - SQM
      - ACRES
      - HECTARES
    IndustrialAndLogistics:
      required:
      - subType
      type: object
      description: Model representing sub types that falls under industrial and logistics property classification. This includes COMMERCIAL_KITCHEN, DISTRIBUTION_WAREHOUSE, FACTORY_MANUFACTURING, HEAVY_INDUSTRIAL, INDUSTRIAL_PARK, LIGHT_INDUSTRIAL, SELF_STORAGE, WAREHOUSE and WORKSHOP.
      example:
        subType: DISTRIBUTION_WAREHOUSE
        clearHeight: 10
        clearHeightUnit: FT
        driveInBays: 10
        dockLevelers: 5
        powerSupplyKiloVoltAmperes: 90
        floorLoadingCapacityKiloNewtons: 50
        yardDepthMetres: 50
      properties:
        clearHeight:
          type: integer
          format: int32
          description: The height of a building from the floor to the bottom of the lowest hanging item on the ceiling (i.e. sprinklers, lights, etc.)
          example: 20
        clearHeightUnit:
          $ref: '#/components/schemas/ClearHeightUnit'
        driveInBays:
          type: integer
          description: The number of drive in bays a warehouse, manufacturing plant, or distribution center have where goods are loaded and unloaded.
          format: int32
          example: 30
        dockLevelers:
          type: integer
          description: The number of dock levellers.
          format: int32
          example: 10
        powerSupplyKiloVoltAmperes:
          type: number
          description: The power supply, measured in kVA.
          format: double
          example: 90
        floorLoadingCapacityKiloNewtons:
          type: number
          description: The floor loading capacity, measured in kN.
          format: double
          example: 50
        yardDepthMetres:
          type: number
          description: The yard depth, measured in metres.
          format: double
          example: 50
    SpacePricing:
      required:
      - price
      type: object
      properties:
        price:
          type: number
          description: Price of the space.
          format: float
          example: 333.33
        displayQualifier:
          $ref: '#/components/schemas/SpacePriceDisplayQualifier'
        frequency:
          $ref: '#/components/schemas/RentFrequency'
        rentObligation:
          $ref: '#/components/schemas/RentObligation'
      description: Pricing details of an individual space within a building. This object is optional at space level. Pricing must always be provided at building level via `BuildingPricing`.
    Offices:
      required:
      - subType
      type: object
      description: Model representing sub types that falls under offices property classification. This includes BUSINESS_PARK, OFFICE and SERVICED_OFFICE.
      properties:
        desks:
          type: integer
          description: Number of desks that can fit in this property listing.
          format: int64
          example: 70
        capacity:
          $ref: '#/components/schemas/Capacity'
        pricePerDeskPerMonth:
          type: integer
          description: The price per desk per month.
          format: int64
          example: 500
        gradeOfSpaceType:
          $ref: '#/components/schemas/GradeOfSpaceType'
      example:
        subType: SERVICED_OFFICE
        desks: 75
        capacity:
          minimum: 60
          maximum: 80
        pricePerDeskPerMonth: 450
        gradeOfSpaceType: A
    SpaceSizing:
      type: object
      properties:
        size:
          type: number
          description: Total size of the unit advertised. Required at space level.
          format: float
          example: 5941
        unit:
          description: The advertised unit's size unit. Required at space level.
          $ref: '#/components/schemas/AreaSizeUnit'
        measurementType:
          type: string
          description: The type of measurement for the size of the unit.
          example: GIA
          enum:
          - GEA
          - GIA
          - NIA
          - IPMS1
          - IPMS2
          - IPMS3_1
          - IPMS3_2
      description: Sizing details of an individual space within a building. This object is mandatory for every space, and both `size` and `unit` must be provided.
    Space:
      required:
      - floorIdentifier
      - name
      - primaryPropertyClassification
      - reference
      - sizing
      - status
      type: object
      properties:
        reference:
          type: string
          description: The reference of the space being sent. The reference must be unique for each space and different from the one used in the request url.
          example: Space_Reference_123
          pattern: ^[a-zA-Z0-9-_]{1,100}$
        name:
          type: string
          description: The name of the space being sent.
          example: 2nd floor
          maxLength: 200
          minLength: 0
        floorIdentifier:
          type: string
          maxLength: 50
          description: The floor number of the space being sent, to allow address matching. Mandatory when at space level.
          example: Floor 3
        description:
          maxLength: 1000000
          minLength: 0
          type: string
          description: Full description of the space.
          example: 5,941 SQ FT available on the second floor, fully fitted out and ready for occupancy.
        sizing:
          $ref: '#/components/schemas/SpaceSizing'
        status:
          $ref: '#/components/schemas/Status'
        pricing:
          $ref: '#/components/schemas/SpacePricing'
        keyFeatures:
          type: array
          description: List of key features offered with this space.
          items:
            type: string
            description: List of key features offered with this space.
          example:
          - Discover stylish private offices and sleek desks in this newly available design-led workspace by Co-Space.
          - Take a moment to relax ,unwind, gather thoughts and rejuvenate in the stylishly designed breakout spaces.
          maxItems: 10
          minItems: 1
        letType:
          $ref: '#/components/schemas/LetType'
        availableDate:
          type: string
          description: Date when this space is available.
          format: date
          example: 2024-10-30
        serviceCharge:
          type: number
          description: Service charge applicable for this space.
          example: 1100
        businessRates:
          type: number
          description: Business rate applicable for this space.
        letContractLength:
          type: integer
          description: Length of rental contract (lettings only) for the space in MONTHS.
          format: int32
          example: 24
        isRentAllInclusive:
          type: boolean
          description: Specifies if the rent includes all additional costs.
          example: true
        published:
          type: boolean
          description: Indicates whether the space should be displayed to consumers on the website. Set this to true only if the property is currently available, under offer, or let agreed. If the property is sold, let, or otherwise unavailable, this should be set to false.
        condition:
          $ref: '#/components/schemas/Condition'
        primaryPropertyClassification:
          $ref: '#/components/schemas/PropertyClassification'
        secondaryPropertyClassifications:
          type: array
          description: List of additional property classifications
          items:
            $ref: '#/components/schemas/PropertyClassification'
        media:
          $ref: '#/components/schemas/Media'
        order:
          type: integer
          description: The order of the space. This value is optional and if not specified, the order will be determined by the order of the spaces in the request. If an order is provided for a single space, one must be provided for all spaces. Duplicate order values are not allowed.
          format: int32
          example: 1
      description: List of spaces available at the advertised building. This is required for both sales and lettings properties.
    GradeOfSpaceType:
      type: string
      description: The classification grade of the office space.
      enum:
      - A
      - B
      - C
      example: A
    UseClass:
      type: string
      description: Commercial use classes of the property.
      enum:
      - CLASS_1A
      - CLASS_3
      - CLASS_4
      - CLASS_5
      - CLASS_6
      - CLASS_7
      - CLASS_8
      - CLASS_9
      - CLASS_10
      - CLASS_11
      - CLASS_B2
      - CLASS_B8
      - CLASS_C1
      - CLASS_C2
      - CLASS_C2A
      - CLASS_C3
      - CLASS_C4
      - CLASS_E
      - CLASS_F1
      - CLASS_F2
      - SUI_GENERIS
      example: CLASS_E
    StreetView:
      type: object
      properties:
        showStreetView:
          type: boolean
          description: Show street view for the building. You cannot set this to 'true' if showMap is set to 'false'.
          example: true
        heading:
          type: number
          description: The heading of the point of view.
          format: float
          example: 151.507488
          minimum: -360
          maximum: 360
        pitch:
          type: number
          description: The pitch of the point of view.
          format: float
          example: 21.507436
          minimum: -180
          maximum: 180
        zoom:
          type: integer
          description: The zoom of the point of view.
          format: int32
          example: 10
        latitude:
          type: number
          description: The latitude of the point of view.
          format: float
          example: 51.507458
          minimum: -90
          maximum: 90
        longitude:
          type: number
          description: The longitude of the point of view.
          format: float
          example: -0.127853
          minimum: -180
          maximum: 180
      description: Street view details of the building.
    PropertySelfLinks:
      type: object
      properties:
        building:
          type: object
          properties:
            externalReference:
              type: string
              description: The reference of the building.
              example: Property_Reference_123
            selfLink:
              type: string
              description: The self link of the building.
              example: /v2/property/commercial/123
          example:
            Property_Reference_123: /v2/property/commercial/123
      description: Link to get the building data via the API.
    PropertyMetadata:
      type: object
      properties:
        requestTimestamp:
          type: string
          description: Timestamp indicating when the request was made.
        responseTimestamp:
          type: string
          description: Timestamp indicating when the response was generated.
        traceId:
          type: string
          description: Identifier used for tracing purposes.
      description: Metadata associated with the response, including details such as request and response timestamps, and trace identifiers, etc.
    Location:
      required:
      - displayAddress
      - buildingIdentifier
      - postcode
      type: object
      properties:
        displayAddress:
          type: string
          description: Full display address of the building.
          example: 33 Soho Square, London
          maxLength: 120
          minLength: 1
        postcode:
          type: string
          description: Valid UK postcode of the building being advertised.
          example: W1D 3QU
          maxLength: 9
        buildingIdentifier:
          type: string
          maxLength: 100
          minLength: 1
          description: Identifier for the building.
          example: 33 Soho Square
        latitude:
          type: number
          format: float
          description: Latitude of the building
          minimum: -90
          maximum: 90
          example: 51.513845
        longitude:
          type: number
          format: float
          description: Longitude of the building
          minimum: -180
          maximum: 180
          example: -0.131678
        uprn:
          type: integer
          description: The unique property reference number.
          format: int64
          example: 10033641189
        showMap:
          type: boolean
          description: Show the map for the building.
          example: true
        streetView:
          $ref: '#/components/schemas/StreetView'
      description: The building's locations details.
    BuildingOnly:
      description: Commercial building details.
      required:
      - agentId
      - description
      - location
      - summary
      - transactionType
      - pricing
      - primaryPropertyClassification
      - status
      - published
      type: object
      properties:
        description:
          maxLength: 1000000
          minLength: 1
          type: string
          description: Full description of the building.
          example: Office block consisting of 6 floors above ground and a basement
        agentId:
          type: integer
          description: The agent ID of the agent advertising the building.
          format: int64
          example: 68650
        summary:
          maxLength: 1500
          minLength: 1
          type: string
          description: Full summary of the building.
          example: An office block in soho
        floors:
          maximum: 100
          minimum: 0
          type: integer
          description: Total number of floors in the whole building
          format: int32
          example: 6
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        yearBuilt:
          type: integer
          description: Date when the building was built.
          format: int32
          example: 1999
        yearRenovated:
          type: integer
          description: Date when the building was renovated.
          format: int32
          example: 2022
        sizing:
          $ref: '#/components/schemas/BuildingSizing'
        pricing:
          $ref: '#/components/schemas/BuildingPricing'
        location:
          $ref: '#/components/schemas/Location'
        owner:
          $ref: '#/components/schemas/Owner'
        keyFeatures:
          maxItems: 10
          minItems: 0
          type: array
          description: List of key features for the advertised building.
          items:
            type: string
            description: List of key features for the advertised building.
          example:
          - Discover stylish private offices and sleek desks in this newly available design-led workspace by Co-Space.
          - Take a moment to relax, unwind, gather thoughts and rejuvenate in the stylishly designed breakout spaces.
        amenities:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
          example:
          - CONCIERGE
          - WIFI
        useClasses:
          type: array
          items:
            $ref: '#/components/schemas/UseClass'
          example:
          - CLASS_E
        environment:
          $ref: '#/components/schemas/Environment'
        tenureType:
          $ref: '#/components/schemas/TenureType'
        tenureUnexpiredYears:
          type: integer
          description: How many years are left on a lease.
          format: int32
          example: 125
          maximum: 1000
        listedBuilding:
          type: boolean
          description: Is the property listed.
          example: true
        businessForSale:
          type: boolean
          description: Indicates whether the business associated with the property is for sale.
          example: false
        auction:
          type: boolean
          description: Indicates whether the property is an auction property. Applicable only for SALES listings. Defaults to false if not provided.
          example: false
        published:
          type: boolean
          description: Indicates whether the building should be displayed to consumers on the website. Set this to true only if the property is currently available, under offer, or let agreed. If the property is sold, let, or otherwise unavailable, this should be set to false.
        planningPermission:
          $ref: '#/components/schemas/PlanningPermission'
        parkingSpaces:
          type: integer
          description: Number of parking spaces.
          format: int32
          example: 0
        media:
          $ref: '#/components/schemas/Media'
        primaryPropertyClassification:
          $ref: '#/components/schemas/PropertyClassification'
        secondaryPropertyClassifications:
          type: array
          description: List of additional property classifications
          items:
            $ref: '#/components/schemas/PropertyClassification'
        status:
          $ref: '#/components/schemas/Status'
        letType:
          $ref: '#/components/schemas/LetType'
        availableDate:
          type: string
          description: Date when this space is available.
          format: date
          example: 2024-10-30
        serviceCharge:
          type: number
          description: Service charge applicable for this space.
          example: 1100
        businessRates:
          type: number
          description: Business rate applicable for this space.
        letContractLength:
          type: integer
          description: Length of rental contract (lettings only) for the space in MONTHS. This field is applicable only to LETTINGS properties.
          format: int32
          example: 24
        isRentAllInclusive:
          type: boolean
          description: Specifies if the rent includes all additional costs. This field is applicable only to LETTINGS properties.
          example: true
        condition:
          $ref: '#/components/schemas/Condition'
    RentObligation:
      type: string
      description: 'The rent amount and service type that the tenant (lessee) will be responsible to pay to the landlord (lessor) throughout the lease term is negotiated prior to both parties signing a lease agreement.


        1. Fully Repairing & Insuring: All obligations for repairing and insuring the property (or their share of the property) both internally and externally.


        2. Internal Repairing Only: The tenant is responsible for internal repairs only. The landlord is responsible for structural and external repairs.


        3. Internal Repairing & Insuring: The tenant is responsible for internal repairs and insurance for internal parts of the property only. The landlord is responsible for structural and external repairs.


        4. Negotiable or TBD: This is used when the leasing contact does not provide the service type.'
      example: FULLY_REPAIRING_AND_INSURING
      enum:
      - FULLY_REPAIRING_AND_INSURING
      - INTERNAL_REPAIRING_AND_INSURING
      - INTERNAL_REPAIRING_ONLY
      - NEGOTIABLE
    MediaAsset:
      type: object
      properties:
        description:
          maxLength: 200
          minLength: 0
          type: string
          example: Sample description for media asset
        url:
          description: For brochures, url's must have a '.pdf' extension.
          maxLength: 250
          minLength: 0
          type: string
          example: https://www.rightmove.co.uk/media/sample.jpg
        order:
          type: integer
          format: int32
          example: 1
    TenureType:
      type: string
      description: Type of tenure for the property.
      enum:
      - FREEHOLD
      - LEASEHOLD
      - SHARE_OF_FREEHOLD
      example: FREEHOLD
    PlanningPermission:
      type: string
      description: If the building has planning permission.
      example: APPROVED
      enum:
      - APPROVED
      - PENDING
      - NONE
    CommercialPropertyWithSpaces:
      required:
      - building
      type: object
      properties:
        building:
          $ref: '#/components/schemas/BuildingWithSpaces'
    SubType:
      type: string
      description: The sub type of the property listing being advertised.
      example: SERVICED_OFFICE
      enum:
      - AUTOMOTIVE
      - BAR
      - BUSINESS_PARK
      - CAFE
      - CARE_HOME_FACILITY
      - CHILDCARE_FACILITY
      - COMMERCIAL_DEVELOPMENT
      - COMMERCIAL_KITCHEN
      - DATA_CENTRE
      - DENTAL_CARE
      - DISTRIBUTION_WAREHOUSE
      - FACTORY_MANUFACTURING
      - FARM
      - GARAGE
      - HEALTHCARE_FACILITY
      - HEAVY_INDUSTRIAL
      - HOTEL
      - INDUSTRIAL_PARK
      - LAND
      - LEISURE_FACILITY
      - LIFE_SCIENCES_LABS
      - LIGHT_INDUSTRIAL
      - MIXED_USE
      - OFFICE
      - OTHER
      - PETROL_STATION
      - PLACE_OF_WORSHIP
      - PHARMACY
      - PUB
      - RESIDENTIAL_DEVELOPMENT
      - RESTAURANT
      - RETAIL_HIGH_STREET
      - RETAIL_OUT_OF_TOWN
      - RETAIL_PROPERTY_SHOPPING_CENTRE
      - SCIENCE_PARK
      - SELF_STORAGE
      - SERVICED_OFFICE
      - SHOP
      - SHOWROOM
      - STUDENT_HOUSING
      - TAKEAWAY
      - TRADE_COUNTER
      - WAREHOUSE
      - WOODLAND
      - WORKSHOP
    BuildingWithSpaces:
      description: Commercial building details with spaces.
      required:
      - agentId
      - description
      - location
      - spaces
      - summary
      - transactionType
      - status
      - primaryPropertyClassification
      - pricing
      - published
      type: object
      properties:
        description:
          maxLength: 1000000
          minLength: 1
          type: string
          description: Full description of the building.
          example: Office block consisting of 6 floors above ground and a basement
        agentId:
          type: integer
          description: The agent ID of the agent advertising the building.
          format: int64
          example: 68650
        summary:
          maxLength: 1500
          minLength: 1
          type: string
          description: Full summary of the building.
          example: An office block in soho
        floors:
          maximum: 100
          minimum: 0
          type: integer
          description: Total number of floors in the whole building
          format: int32
          example: 6
        transactionType:
          $ref: '#/components/schemas/TransactionType'
        yearBuilt:
          type: integer
          description: Date when the building was built.
          format: int32
          example: 1999
        yearRenovated:
          type: integer
          description: Date when the building was renovated.
          format: int32
          example: 2022
        sizing:
          $ref: '#/components/schemas/BuildingSizing'
        pricing:
          $ref: '#/components/schemas/BuildingPricing'
        location:
          $ref: '#/components/schemas/Location'
        owner:
          $ref: '#/components/schemas/Owner'
        keyFeatures:
          maxItems: 10
          minItems: 0
          type: array
          description: List of key features for the advertised building.
          items:
            type: string
            description: List of key features for the advertised building.
          example:
          - Discover stylish private offices and sleek desks in this newly available design-led workspace by Co-Space.
          - Take a moment to relax, unwind, gather thoughts and rejuvenate in the stylishly designed breakout spaces.
        amenities:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
          example:
          - CONCIERGE
          - WIFI
        useClasses:
          type: array
          items:
            $ref: '#/components/schemas/UseClass'
          example:
          - CLASS_E
        environment:
          $ref: '#/components/schemas/Environment'
        tenureType:
          $ref: '#/components/schemas/TenureType'
        tenureUnexpiredYears:
          type: integer
          description: How many years are left on a lease.
          format: int32
          example: 125
          maximum: 1000
        listedBuilding:
          type: boolean
          description: Is the property listed.
          example: true
        businessForSale:
          type: boolean
          description: Indicates whether the business associated with the property is for sale.
          example: false
        published:
          type: boolean
          description: Indicates whether the building should be displayed to consumers on the website. Set this to true only if the property is currently available, under offer, or let agreed. If the property is sold, let, or otherwise unavailable, this should be set to false.
        planningPermission:
          $ref: '#/components/schemas/PlanningPermission'
        parkingSpaces:
          type: integer
          description: Number of parking spaces.
          format: int32
          example: 0
        media:
          $ref: '#/components/schemas/Media'
        spaces:
          maxItems: 50
          minItems: 1
          type: array
          description: Define the space/s available in the building e.g. floor / unit.
          items:
            $ref: '#/components/schemas/Space'
        primaryPropertyClassification:
          $ref: '#/components/schemas/PropertyClassification'
        secondaryPropertyClassifications:
          type: array
          description: List of additional property classifications
          items:
            $ref: '#/components/schemas/PropertyClassification'
        status:
          $ref: '#/components/schemas/Status'
        letType:
          $ref: '#/components/schemas/LetType'
        availableDate:
          type: string
          description: Date when this space is available.
          format: date
          example: 2024-10-30
        serviceCharge:
          type: number
          description: Service charge applicable for this space.
          example: 1100
        businessRates:
          type: number
          description: Business rate applicable for this space.
        letContractLength:
          type: integer
          description: Length of rental contract (lettings only) for the space in MONTHS. This field is applicable only to LETTINGS properties.
          format: int32
          example: 24
        isRentAllInclusive:
          type: boolean
          description: Specifies if the rent includes all additional costs. This field is applicable only to LETTINGS properties.
          example: true
        condition:
          $ref: '#/components/schemas/Condition'
    CommercialPropertyBuildingOnly:
      required:
      - building
      type: object
      properties:
        building:
          $ref: '#/components/schemas/BuildingOnly'
    BuildingPriceDisplayQualifier:
      type: string
      description: Qualifier on the advertised price of the property.
      example: GUIDE_PRICE
      enum:
      - NONE
      - PRICE_ON_APPLICATION
      - GUIDE_PRICE
      - OFFERS_IN_EXCESS_OF
      - OFFERS_IN_REGION_OF
      - FROM
    RentFrequency:
      type: string
      description: Frequency of rental payments for the property. This field is applicable only to LETTINGS properties.
      example: MONTHLY
      enum:
      - YEARLY
      - MONTHLY
    PropertyClassification:
      required:
      - subType
      type: object
      properties:
        subType:
          $ref: '#/components/schemas/SubType'
      description: "This class represents a flexible property classification model that can have various forms. \n\nDepending on the specific sub-type, the data provided will be mapped to the appropriate extended model, such as Offices, IndustrialAndLogistics, LandAndDevelopment, LeisureAndHospitality, Retail and Other."
      discriminator:
        propertyName: subType
      oneOf:
      - $ref: '#/components/schemas/Offices'
      - $ref: '#/components/schemas/IndustrialAndLogistics'
      - $ref: '#/components/schemas/LandAndDevelopment'
      - $ref: '#/components/schemas/LeisureAndHospitality'
      - $ref: '#/components/schemas/Retail'
      - $ref: '#/components/schemas/Other'
    Other:
      required:
      - subType
      type: object
      description: Model representing sub types that falls under other property classification. This includes AUTOMOTIVE, CHILDCARE_FACILITY, DATA_CENTRE, GARAGE, HEALTHCARE_FACILITY, LIFE_SCIENCES_LABS, MIXED_USE, OTHER, PETROL_STATION, PLACE_OF_WORSHIP, SCIENCE_PARK, STUDENT_HOUSING, DENTAL_CARE, PHARMACY and CARE_HOME_FACILITY.
      example:
        subType: DATA_CENTRE
    PropertyDisplayLinks:
      type: object
      properties:
        building:
          type: object
          properties:
            externalReference:
              type: string
              description: The reference of the building.
              example: Property_Reference_123
            buildingDisplayLink:
              type: string
              description: The display link of the building.
              example: /commercial-property/123
          example:
            Property_Reference_123: /commercial-property/123
        spaces:
          type: object
          properties:
            externalReference:
              type: string
              description: The reference of the space.
              example: Space_Reference_456
            spaceDisplayLink:
              type: string
              description: The display link of the space.
              example: /commercial-property/456
          example:
            Space_Reference_456: /properties/456
      description: 'Display link to how the building and space. NOTE: Building URLs are only available in the beta environment. Please note this page is in active development and is likely to change on a weekly basis.'
    RemoveCommercialProperty:
      required:
      - agentId
      - removalReason
      type: object
      properties:
        agentId:
          type: integer
          description: The ID of the agent removing the property, must match the agent ID the property was created against.
          format: int64
        removalReason:
          type: string
          description: The reason for the removal of the property.
          enum:
          - SOLD_BY_US
          - SOLD_BY_ANOTHER_AGENT
          - WITHDRAWN_FROM_MARKET
          - LOST_INSTRUCTION
          - LET_BY_US
          - REMOVED
    LandAndDevelopment:
      required:
      - subType
      type: object
      description: Model representing sub types that falls under land and development property classification. This includes COMMERCIAL_DEVELOPMENT, LAND, RESIDENTIAL_DEVELOPMENT, FARM AND WOODLAND.
      example:
        subType: COMMERCIAL_DEVELOPMENT
    LeisureAndHospitality:
      required:
      - subType
      type: object
      properties:
        bedrooms:
          type: integer
          description: The number of bedrooms.
          format: int32
          example: 10
      description: Model representing sub types that falls under leisure and hospitality property classification. This includes BAR, CAFE, HOTEL, LEISURE_FACILITY, PUB, RESTAURANT, CAMPSITE_HOLIDAY_VILLAGE, COMM_GUEST_HOUSE and TAKEAWAY.
      example:
        subType: LEISURE_FACILITY
        bedrooms: 10
    Capacity:
      type: object
      properties:
        minimum:
          type: integer
          description: Minimum capacity of this commercial listing.
          format: int64
          example: 50
        maximum:
          type: integer
          description: Maximum capacity of this commercial listing.
          format: int64
          example: 80
      description: Number of people that can fit in this property listing.
    PropertyAction:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PropertyMetadata'
        data:
          $ref: '#/components/schemas/PropertyData'
      description: Property save action response.
    ClearHeightUnit:
      type: string
      description: Industrial and logistics type space clear height unit.
      enum:
      - FT
      - METRES
      example: FT
    PropertySaveAction:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PropertyMetadata'
        data:
          $ref: '#/components/schemas/PropertySaveData'
      description: Property save action response.
    PropertyLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/PropertySelfLinks'
        display:
          $ref: '#/components/schemas/PropertyDisplayLinks'
      description: Links leading to the saved property, including the property reference and the URL to the property details.
    TransactionType:
      type: string
      description: Transaction type of the advertised building.
      example: LETTINGS
      enum:
      - SALES
      - LETTINGS
    PropertyReference:
      type: object
      description: Contains a properties unique reference or ID and optionally data about the spaces within the property.
    LetType:
      type: string
      example: SHORT
      description: Let type of the supplied rental unit. This field is applicable only to LETTINGS properties.
      enum:
      - SHORT
      - LONG
      - FLEXIBLE
      - NOT_SPECIFIED
    Amenity:
      type: string
      description: List of amenities offered at advertised building.
      enum:
      - WIFI
      - CONCIERGE
      - PARKING
      - GYM
      - SECURITY_SYSTEM
      - TWENTY_FOUR_HOUR_ACCESS
      - BIKE_STORAGE
      - BILLS_INCLUDED
      - CAFE
      - CLEANING_SERVICES
      - COMMUNAL_AREAS
      - COMMUNAL_GARDENS
      - FLEXIBLE_TENANCIES
      - PETS_ALLOWED
      - RESTAURANT
      - PROFESSIONAL_MANAGEMENT
      - ROOF_TERRACE
      - SERVICES_INCLUDED
      - SHARED_WORKSPACE
      - SOCIAL_ACTIVITIES
      - TRANSPORT_LINKS
      - WELL_CONNECTED
      - CONTROLLED_ACCESS
      - CONFERENCING_FACILITY
      - PROPERTY_MANAGER_ON_SITE
      - KITCHEN
      - STORAGE_SPACE
      - COMMON_PARTS_WC_FACILITIES
      - DDA_COMPLIANT
      - NATURAL_LIGHT
      - OPEN_PLAN
      - PARTITIONED_OFFICES
      - PLUG_AND_PLAY
      - RECEPTION
      - SECURE_STORAGE
      - SHOWER_FACILITIES
      - OUTDOOR_SEATING
      - AIR_CONDITIONING
      - EVENT_SPACES
      - CENTRAL_HEATING
      - RAISED_FLOOR
      - BASEMENT
    Retail:
      required:
      - subType
      type: object
      properties:
        frontageFeet:
          type: integer
          description: Size of shop front, measured in ft.
          format: int32
          example: 15
      description: Model representing sub types that falls under retail property classification. This includes RETAIL_HIGH_STREET, RETAIL_OUT_OF_TOWN, RETAIL_PROPERTY_SHOPPING_CENTRE, SHOP, TRADE_COUNTER, POST_OFFICE, CONVENIENCE_STORE and SHOWROOM.
      example:
        subType: RETAIL_HIGH_STREET
        frontageFeet: 20
    PropertySaveData:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/PropertyLinks'
      description: Links leading to the saved property, including the property reference and the URL to the property details.
    Media:
      description: Includes media information about the listing or building being advertised.
      type: object
      properties:
        photos:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: Exterior view of the commercial building
            url: https://www.rightmove.co.uk/photos/photo1.jpg
            order: 0
          - description: Photo of the office reception area
            url: https://www.rightmove.co.uk/photos/photo2.jpg
            order: 1
        floorPlans:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: Ground floor plan
            url: https://www.rightmove.co.uk/floorplans/groundfloor.jpg
            order: 0
        epcs:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: EPC Certificate
            url: https://www.rightmove.co.uk/epcs/epc_certificate.jpg
            order: 0
        epcGraphs:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: EPC Rating Graph
            url: https://www.rightmove.co.uk/epcGraphs/rating_graph.jpg
            order: 0
        brochures:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: Property brochure PDF
            url: https://www.rightmove.co.uk/brochures/property_brochure.pdf
            order: 0
        virtualTours:
          maxItems: 999
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
          example:
          - description: Virtual tour of the property
            url: https://www.rightmove.co.uk/virtualTours/tour1.mp4
            order: 0
    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
          format: uri
        properties:
          type: object
          additionalProperties:
            type: object
    Status:
      type: string
      description: Status of the space.
      example: AVAILABLE
      enum:
      - AVAILABLE
      - SOLD_STC
      - SOLD_STCM
      - RESERVED
      - LET_AGREED
      - UNDER_OFFER
    Environment:
      type: object
      properties:
        environmentalDescription:
          type: string
          description: Environmental description of the building.
          example: This building is very green, featuring solar panels and ground source heat pumps.
          maximum: 5000
        breeamRating:
          type: integer
          description: BREEAM is a way to rate and certify a building's environmental sustainability.
          format: int32
          example: 85
          minimum: 0
          maximum: 100
        epcRating:
          type: integer
          description: The numeric energy performance certificate rating of the building.
          format: int32
          example: 92
          minimum: -999
          maximum: 500
      description: The building's environmental details.
    SpacePriceDisplayQualifier:
      type: string
      description: Qualifier on the advertised price of the space.
      example: PRICE_ON_APPLICATION
      enum:
      - NONE
      - PRICE_ON_APPLICATION
    BuildingPricing:
      required:
      - price
      type: object
      properties:
        price:
          type: number
          description: Price of the property.
          format: float
          example: 333.33
        displayQualifier:
          $ref: '#/components/schemas/BuildingPriceDisplayQualifier'
        frequency:
          $ref: '#/components/schemas/RentFrequency'
        rentObligation:
          $ref: '#/components/schemas/RentObligation'
      description: Pricing details of the building. This object is mandatory — pricing at the building level must always be supplied, regardless of whether the property is uploaded as a building-only listing or a building with spaces.
  securitySchemes:
    OAuth2:
      description: This API uses OAuth2 client credentials flow for server to server authentication
      type: oauth2
      flows:
        implicit:
          authorizationUrl: /oauth/token
          scopes: {}
